div,nav, footer, ul {
    border: 1px solid pink;
}

/* global styles */

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 1172px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

/* nav styles */

nav {
    display: flex;
    height: 64px;
    justify-content: space-between;
    
}

nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem 0;
    
}
.brand {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

nav {
    
}
