/* dev only */
/*
div,nav, footer, ul {
    border: 1px solid hotpink;
}
*/

/* global styles */


body {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #1A111C;
}

a {
    color: #1A111C;
    text-decoration: none;
}

a:visited {
    color: #695D74;
}


a:hover {
    color: magenta;
}

p {
    font-size: 1.25rem;
}


h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 2rem 0;
    font-weight: bold;
}


h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: normal;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
}



.container {
    display: flex;
    margin: 0 auto;
}

.gray {
    background-color: #E6E6E8;
}

.platinum {
    background-color: #E9EFED;
}

/* nav styles */

nav {
    display: flex;
    margin: 0 auto;
    height: 4rem;
    justify-content: space-between;
    background-color: #C1B6CB;   
}


nav a:hover {
    color: maroon;
    
}

nav ul {
    display: inline-flex;
    align-content: center;
    justify-content: flex-end;
    list-style-type: none;
    height: 4rem;
}

nav li {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    
}

#colmar {
   font-weight: bold;
}

#academy {
    font-weight: bold;
    color: #907F9F;
}

.brand {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1.5rem;
}

/* mobile media quareies for nav */
@media only screen and (max-width: 1000px) {
  #colmar, #academy, .bignav, .brand {
    display: none;
  }
    nav.container {
        display: flex;
        justify-content: center;
    }
    
    .smallnav {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    nav li {
        margin: 0 1rem;
    }
}

@media only screen and (min-width: 1001px) {
    .smallnav{
        display: none;
    }
}


/* body styles */


.primary {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2rem 1.5rem;
}

#banner {
    background-image: url(images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.secondary-gray {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 1.5rem 0 2rem 0;
    padding: 3.75rem 7.5rem 3.75rem 1rem;
}

.button {
    align-items: flex-start;
    text-align: center;
    color: white;
    background-color: #907F9F;
    font-size: 1.25rem;
    padding: .75rem 0;
    width: 75%;
    border-radius: 1rem;
    margin: 1.5rem auto;   
}

.button:hover {
    background-color: #563872;
}

.container-gray {
    background-color: #E9EFED;
}

/* second box */

.pale-plum {
    background-color: #E8E4EC;
}

.citation {
    font-size: 1rem;
    font-weight: 600;
}

#information {
    background-image: url(images/information-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.secondary-white {
    width: 40%;
    margin: 2rem;
    
}

.tertiary {
    display: flex;   
}

.tertiary-label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    padding: 10px 0;
}


#orientation {
    padding: 0 1rem 0 1rem;
}

#campus {
    padding: 1rem;
}


#guest {
    padding: 1rem;
}


@media only screen and (max-width: 1000px){ 

    .container {
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        text-align: center;
    }
    
    #banner {
        height: 400px;
    }
    
    .primary {
        width: 100%;
        margin: 0;
    }
    
    .secondary-gray {
        width: 100%;
        padding: 0;
        margin: 0 1rem;
    }
    
    .mobile-jumbotron{
        display: flex;
        flex-direction: column;
        
    }
    
    .mobile-jumbotron h1 {
        text-align: left;
    }
    
    .secondary-white {
        width: 100%;
    }
    
    .button {
        width: 60%;
    }
    
    .tertiary {
        flex-direction: column;
    }
    
    .tertiary-label{
        justify-content: space-between;
        padding: 1rem;
        line-height: 1.5;
    }
    
    .desktop {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #banner{
        height: 180px;
    }
}

@media only screen and (min-width: 1001px){
    .mobile {
        display: none;
    }
}


/* courses list grid */

#start-learning {
    justify-content: center;
    padding: 1rem 0 10px 0;
}

.courses-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 1rem;
}

.course {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 289px;
}

.course-description {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1.5rem 1rem;
}

.course-description p {
    margin: .5rem 0;
}

.course-description h2  {
    margin-bottom: 1rem;
}


.courses-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto 2rem auto;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px){ 
    .course img {
        display: none;
    }
    
    .course p {
        display: none;
    }
    
    .courses-list {
        flex-direction: column;
        margin: 0;
    }
    
    .course {
        width: 100%;
        margin: .5rem;
    }
    
    .courses-section {
        width: 90%;
    }
    
    .course-description h2  {
        margin: 0;
        padding: 1rem 1rem .5rem 1rem;
    }   
    
}

/* thesis styles */

#thesis {
    justify-content: center;
    padding: 1rem 0 10px 0;
}

.primary-thesis {
    display: flex;
    flex-direction: column;
    margin: 0px 1rem 2rem 1.5rem;
    width: 60%;
}

.primary-thesis video {
    width: 100%;
}

.primary-thesis .caption{
    padding: 1.5rem 0 2rem 0;
}

.caption h2 {
    margin-bottom: 1rem;
}


.secondary-thesis {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.secondary-thesis h2 {
    margin-bottom: 1.5rem;
    
}

.secondary-thesis img {
    padding: 1rem;
}

.thesis-project {
    display: flex;
    align-items: center;
    align-content: space-between;
}
   
@media only screen and (max-width: 1000px){ 
    .secondary-thesis {
        display: none;
    }
    
    .primary-thesis {
        width: 100%;
        margin: 0;
    }
}

/* footer styles */

}

.copyright {
    display: flex;
    padding-left: 1.5rem;
}

.legal {
    display: flex;
    padding-right: 1rem;
}

.legal span {
    padding-left: 1rem;
}

footer {
    height: 4rem;
    border-top: 1px solid #1A111C;
    padding-top: 5px;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #C1B6CB;
}


.citation {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

@media only screen and (max-width: 1000px){ 
    .legal {
        display: none;
    }
    
    .copyright {
        padding: 2rem 0 1rem 1rem;
    }

}